@viewport {
  width: device-width;
  zoom: 1.0;
}

body {
  &.light {
    --bg-color: rgb(238, 238, 238);
    --bg-color-lighter: rgb(250, 250, 250);
    --text-color: rgb(34, 40, 49);
    --intense-color: rgb(181, 84, 0);
    --border-color: rgba(34, 40, 49, .5);

    a {
      color: rgba(34, 40, 49, .5);
    }
  }

  &.dark {
    --bg-color: rgb(50, 50, 50);
    --bg-color-lighter: rgb(20, 20, 20);
    --text-color: rgb(190, 190, 190);
    --intense-color: rgb(181, 84, 0);
    --border-color: rgb(0, 0, 0);
  }

  a {
    color: rgba(212, 212, 212, .5);
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body,
#root,
.ReactModalPortal {
  margin: 0;
  font-family: 'Barlow';
  background-color: var(--bg-color);
  color: var(--text-color);
  height: 100%;
  overflow: hidden;
}

form {

  textarea,
  input,
  button {
    background-color: var(--bg-color-lighter);
    color: var(--text-color);
    border: var(--border-color);
    outline: none;
  }

  textarea,
  input {
    padding: .3em;
  }

  button,
  input[type=submit] {
    padding: .3em 1em;
  }
}

#app {
  padding: 1em;
  height: 100vh;
  overflow: auto;
}

@media (min-width: 800px) {
  #app {
    >.sidebar {
      width: 10em;
      position: fixed;
      top: 1em;
      left: 1em;
      bottom: 1em;
    }

    >.content {
      margin-left: 11em;
    }
  }
}

@media (max-width: 800px) {
  #app {
    flex-direction: column;
    height: 100%;

    >.sidebar {
      position: relative;
      width: auto;
      margin-bottom: 1em;

      .actions {
        text-align: right;
      }
    }

  }
}
