body {
  &.light {
    --bg-color: rgb(238, 238, 238);
    --bg-color-lighter: rgb(250, 250, 250);
    --text-color: rgb(34, 40, 49);
    --intense-color: rgb(181, 84, 0);
    --border-color: rgba(34, 40, 49, .5);

    a {
      color: rgba(34, 40, 49, .5);
    }
  }

  &.dark {
    --bg-color: rgb(50, 50, 50);
    --bg-color-lighter: rgb(20, 20, 20);
    --text-color: rgb(190, 190, 190);
    --intense-color: rgb(181, 84, 0);
    --border-color: rgb(0, 0, 0);
  }

  a {
    color: rgba(212, 212, 212, .5);
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body,
#app,
.ReactModalPortal {
  margin: 0;
  font-family: 'Barlow';
  background-color: var(--bg-color);
  color: var(--text-color);
}

textarea,
input,
button {
  padding: .3em;
  background-color: var(--bg-color-lighter);
  color: var(--text-color);
  border: var(--border-color);
  outline: none;
}

#app {
  padding: 1em;
  height: 100vh;
  display: grid;
  grid-template-columns: 15em;
  grid-template-areas: 'sidebar content';
  column-gap: 1em;

  >.sidebar {
    grid-area: sidebar;
  }

  >.content {
    grid-area: content;
    overflow: auto;
  }
}
