.feed {
  max-width: 1250px;
  margin: auto;
  height: 100%;
  overflow: hidden;

  h1 {
    font-weight: 600;
    margin-bottom: 1em;
  }

  .items {
    overflow: auto;
    height: 100%;

    .feed-item:first-child {
      margin-top: 0;
    }

    .feed-item {
      margin: 1em 0;
      padding: 1em;
      background-color: var(--bg-color-lighter);
      border-left: .3em solid;
      position: relative;

      &.unread {
        border-left-color: var(--border-color);
      }

      &.read {
        border-left-color: transparent;
      }

      h2 {
        font-weight: 500;
        font-size: 1.1em;

        a {
          color: inherit;
          text-decoration: inherit;

          &:hover {
            text-decoration: underline;
          }
        }
      }

      p {
        margin-top: 1em;
      }

      &:hover .actions {
        display: block;
      }

      .actions {
        display: none;
        position: absolute;
        right: 1em;
        bottom: 1em;
      }
    }
  }
}
