.ReactModal__Overlay {
  z-index: 1;
}

.feed-edit-form {
  display: flex;
  flex-direction: column;
  max-height: 75vh;

  textarea,
  input,
  button {
    padding: .3em;
  }

  .field,
  .field-ta {
    margin-bottom: 1em;
  }

  .field {
    label {
      display: inline-block;
      width: 6em;
    }

    input {
      width: 25em;
    }
  }

  .field-ta {
    label {
      display: block;
      margin-bottom: .3em;
    }

    label:after {
      content: ':';
    }

    textarea {
      width: 40em;
      height: 15em;
    }
  }

  .actions {
    width: 100%;
    text-align: right;
    margin-bottom: 1em;
  }
}
