.feed {
  max-width: 1250px;
  margin: auto;
  position: relative;

  h1 {
    font-size: 1.4em;
  }

  .feed-item:first-child {
    margin-top: 0;
  }

  .feed-item {
    margin: 1em 0;
    padding: 1em;
    background-color: var(--bg-color-lighter);
    border-left: .3em solid;
    position: relative;

    &.unread {
      border-left-color: var(--border-color);
    }

    &.read {
      border-left-color: transparent;

      .actions .markUnreadButton {
        display: block;
      }
    }

    &.selected {
      border-left-color: var(--intense-color);
    }

    h2 {
      font-weight: 500;
      font-size: 1.1em;
      margin-bottom: 1em;

      a {
        color: inherit;
        text-decoration: inherit;

        &:hover {
          text-decoration: underline;
        }
      }
    }

    .description,
    .content,
    .inlineContent {
      margin-bottom: 1em;
    }

    p {
      margin-top: 1em;
    }

    &:hover .actions {
      display: flex;
    }

    .actions {
      display: none;
      position: absolute;
      right: 1em;
      bottom: 1em;

      button {
        padding: .3em 1em;
        background-color: var(--bg-color);
        border: 1px solid var(--border-color);
        margin-left: 1em;

        &:hover {
          background-color: var(--bg-color-lighter);
        }
      }

      .markUnreadButton {
        display: none;
      }
    }


    &.loading {
      filter: blur(1px);

      // I definitely didn't do this myself
      // http://www.menucool.com/9499/CSS-loading-spinner-with-a-semi-transparent-background
      @-webkit-keyframes spin {
        from {
          -webkit-transform: rotate(0deg);
        }

        to {
          -webkit-transform: rotate(360deg);
        }
      }

      @keyframes spin {
        from {
          transform: rotate(0deg);
        }

        to {
          transform: rotate(360deg);
        }
      }

      &::after {
        content: '';
        display: block;
        position: absolute;
        left: 48%;
        top: 40%;
        width: 20px;
        height: 20px;
        border-style: solid;
        border-color: var(--bg-color);
        border-top-color: transparent;
        border-width: 4px;
        border-radius: 50%;
        -webkit-animation: spin .8s linear infinite;
        animation: spin .8s linear infinite;
      }
    }
  }
}
