.feed {
  display: flex;
  flex-direction: column;

  .feed-item {
    margin: 1em 0;
    padding: 1em;
    background-color: var(--bg-color);
    border-left: .3em solid var(--border-color);

    h2 {
      font-weight: 500;
      font-size: 1.1em;

      a {
        color: inherit;
        text-decoration: inherit;
      }
    }

    p {
      margin-top: 1em;
    }
  }
}
