.sidebar {
  display: flex;
  flex-direction: column;

  .actions {
    display: flex;

    // align to the right on touch devices
    @media (hover: none),
    (max-width: 800px) {
      justify-content: flex-end;
      margin-top: .5em;
    }

    span {
      display: inline-block;
      margin-right: .7em;
      cursor: pointer;

      svg {
        width: 1.2em;
        fill: var(--text-color);
      }

      &:hover svg {
        fill: var(--intense-color);
      }
    }
  }

  .container {
    flex: 1;

    ul {
      line-height: 2em;
    }

    ul>li>ul>li {
      margin-left: 1em;
    }

    span.title {
      width: 100%;
    }

    span.title,
    .category .name,
    .category .collapse {
      display: inline-block;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      cursor: pointer;

      &:hover,
      &.selected {
        color: var(--intense-color);
      }
    }

    .category {
      display: flex;
      flex-direction: row;

      span {
        font-size: .9em;
      }

      .name {
        flex: 1;
      }

      @media (hover: hover) and (min-width: 800px) {
        .collapse {
          display: none;
        }

        &:hover .collapse {
          display: inline-block;
        }
      }
    }


    .feed-item {
      position: relative;

      span.edit {
        position: absolute;
        right: 0;
        top: 0;
        cursor: pointer;
        background-color: var(--bg-color);
        padding-left: 1em;
        font-size: .8em;

        @media (hover: hover) {
          display: none;

          &:hover {
            color: var(--intense-color);
          }
        }
      }

      &:hover {
        span.edit {
          display: block;
        }
      }
    }
  }
}
