.sidebar {
  padding: .5em 1em;

  ul {
    line-height: 2em;
  }

  ul>li>ul>li {
    margin-left: 1em;

    &:first-child {
      margin-top: -.5em;
    }
  }

  span {
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
    display: inline-block;

    &:hover,
    &.selected {
      color: var(--intense-color);
    }
  }
}
